.form {
  display: flex;
  flex-direction: column;
}
.label {
  display: block;
  margin-bottom: 15px;
}

.label span {
  display: block;
}

.btn {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}
