.contactList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contactText {
  margin: 0 10px 0 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity ease 250ms;
}

.delBtn {
  &:hover .icon {
    color: #ff0000;
  }
}

.editBtn {
  &:hover .icon {
    color: #ffdd19;
  }
}

.icon {
  width: 20px;
  height: 20px;
}
.listItem {
  &:hover .btn,
  &:focus .btn {
    opacity: 1;
  }
}
